data_dir = "{{ nomad_data_dir }}"


server {
    enabled = true
    bootstrap_expect = 1    
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}


advertise {
  http = "{{ ansible_eth1.ipv4.address }}:4646"
  rpc  = "{{ ansible_eth1.ipv4.address }}:4647"
  serf = "{{ ansible_eth1.ipv4.address }}:4648"
} 

