data_dir = "{{ nomad_data_dir }}"


server {
    enabled = true
    bootstrap_expect = 1    
}


advertise {
  http = "{{ ansible_eth1.ipv4.address }}:4646"
  rpc  = "{{ ansible_eth1.ipv4.address }}:4647"
  serf = "{{ ansible_eth1.ipv4.address }}:4648"
} 

