datacenter = "{{ consul_dc }}"
data_dir = "{{ consul_data_dir }}"
server = {{ consul_server }}
client_addr = "{{ consul_client_addr }}"
bootstrap_expect = {{ consul_bootstrap_expect }}
ui = {{ consul_ui }}
bind_addr = "{{ ansible_eth1.ipv4.address }}" 
retry_join = {{ consul_retry_join }}